.navbar li {
  display: inline-block;
  text-align: center;
}

.itemLeft {
  width: 15%;
}

.itemCenter {
	width: 70%;
}

.itemRight {
  width: 15%;
}

.navbar {
  background-image: url("./public/img/tiger.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    vertical-align: center;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  height: 95px;
}

li {
  color: white;
  padding: 25px 0;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

body {
  font-size: 24px;
}